
:root{
    --active-bg:#1195c6;
    --active-color:white;
    --bg-secondary-color:#023859;
    border-radius: 5px;
    color:white;
    background-color: #011826;

}
.hidden{
    display: none;
}

.object{
    color:white;
    background-color: #000000;
}
.active{
    background-color: var(--active-bg);
    color:var(--active-color);
}
.optional{
    background-color: var(--bs-green);
    color:var(--active-color);
}
.nav-link{
    color:var(--active-color);
    font-weight: 700;
}
.nav-item{
    color:var(--active-color);
    font-weight: 700;
}
 .icon-container .sidebar-icon{
    float: left;
    position: relative;
    height: inherit;
}

.filter-icon{
    display: inline-block;
    position: absolute;
    height: inherit;
    color:var(--active-color);
    padding: 5px;
}

.topbar{
    list-style-type: none;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: var(--bs-dark);
}
.topbar *:hover{
    background-color: gray;
}
svg{
    height: inherit;
    align-content: center;
}
.topbar *{
    list-style: none;
    list-style-image: none;
    overflow: visible;
    vertical-align: center;
    display: inline-block;
    height: 3rem;

}
.topbar .icon-container{
    display: inline-block;
}
.topbar .icon-container svg{
    padding: 5px;
}

.icon-container:hover{
    color:gray;
}

.icon-container{
    height: inherit;
    color:var(--active-color);
    padding:1rem;
    transition-duration: 0.3s;
    position: relative;
    background-color: transparent;
    border: none;
    display: inline;
}
.sidebar {
    width: 25%;
    background-color: var(--bs-dark);
    position: fixed;
    height: 100%;
    overflow: auto;
    border-color: var(--active-color);
    border-style:solid none none none;
}

/* Sidebar links */
.sidebar h2 {
    display: block;
    color:var(--active-color);
    padding: 16px;
    text-decoration: none;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
}

/* Active/current link */
.sidebar h2.active {
    background-color:var(--active-bg);
    color:var(--active-color);
}

/* Links on mouse-over */
.sidebar h2:hover:not(.active) {
    background-color: #555;
    color:var(--active-color);
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
.sidebar-toggler{
    display: none;
}
#searchFormContainer{
    float: right;
    width: 25%;
    height: 100%;
    var(--bg-secondary-color:#023859);
}

@media screen and (max-width: 700px) {
    .sidebar {
        display: none;
    }
    .sidebar-toggler{
        display: block;
    }
    #searchFormContainer{
        width: 75%;
    }
}



.registration-box{
    box-sizing: border-box;
    display: flex;
    position: center;
    background-color: var(--bg-secondary-color);
    color:var(--active-color);
}











