
:root{
    --active-bg:#1195c6;
    --active-color:white;
    --bg-secondary-color:#023859;
    border-radius: 5px;
    color:white;
    --bg-default-color:#011826;
    background-color:var(--bg-default-color);
    --bg-tertiary-color:#03070D;
}

body{
    height: 100%;
    color: white;
    background-color:var(--bg-default-color) ;
}


/* Elemento | http://localhost:8080/MYOPSite_war_exploded/showCart */

#cartContainer {
    display: flex;
    text-align: center;
    width: 100%;
}

/* In linea #2 | http://localhost:8080/MYOPSite_war_exploded/showCart */

.halfPage {
    width: 50%;
}

/* Elemento | http://localhost:8080/MYOPSite_war_exploded/showCart */

#purchaseForm {
    width: 100%;
}

/* Elemento | http://localhost:8080/MYOPSite_war_exploded/showCart */

#purchaseForm > table:nth-child(1) {
    width: 100%;
}

td{
    padding: 3px;
}
input[type=text], select, input[type=email],input[type=password],input[type=number],input[type=date],label.fakeInput{
    width: 100%;
    padding: 0.4rem 0.5rem;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.navbar{
    z-index: 50;
}
.hidden{
    display: none;
}
button{
    display: inline-block;
}
.centered-box{
    width: 45%;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

/* In linea #2 | http://localhost:8080/MYOPSite_war_exploded/ */

.buildList {
    max-width: 300px;
    border:solid #2D83A6;
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--bg-default-color);
}

#builds{
    text-align: center;
}

.buildList li {
    padding:3px;
    border-bottom: 1px #2D83A6;
}
.fullBtn{
    width: 100%;
    border-radius: 0px;

}

#pageContenent{
    margin: auto;
    max-width: 1317px;
    width: 100%;
    background-color: var(--bg-secondary-color);
}

.header{
    padding: 10px;
    color:white;
    background-color: #000000;
    text-align: center;
}

.box-container{
    padding: 10px;
    color:white;
    background-color: #000000;
    text-align: center;
    border-radius: 5px;

}

.inner-window{
    position: fixed;
    right: 0;
    width: 75%;
    height: 100%;
    overflow: auto;
}

.active{
    background-color: var(--active-bg);
    color:var(--active-color);
}
.optional{
    background-color: var(--bs-green);
    color:var(--active-color);
}
.nav-link{
    color:var(--active-color);
    font-weight: 700;
}
.nav-item{
    color:var(--active-color);
    font-weight: 700;
}
 .icon-container .sidebar-icon{
    float: left;
    position: relative;
    height: inherit;
}

.filter-icon{
    float: right;
    display: inline-block;
    position: absolute;
    height: inherit;
    color:var(--active-color);
}
.disabled-btn{
    background-color: gray;
}

.topbar{
    background-color: var(--bs-dark);
    height: 45px;
    display: inline-block;
    width: 100%;
}
.topbar *{
    height: inherit;
    position: inherit;
    vertical-align: top;
    display: inline-block;
}

.topbar form{
    float: right;
}

svg{
    height: inherit;
    align-content: center;
}

.icon-container:hover{
    color:gray;
}

.icon-container{
    height: inherit;
    color:var(--active-color);
    transition-duration: 0.3s;
    position: relative;
    background-color: transparent;
    border: none;
    display: inline;
}
.sidebar {

    background-color: var(--bs-dark);
    position: absolute;
    height: 100%;
    overflow: auto;
    border-color: var(--active-color);
    border-style:solid none solid none;
    z-index: 99;
}

/* Sidebar links */
.sidebar h2 {
    display: block;
    color:var(--active-color);
    padding: 16px;
    text-decoration: none;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
}

/* Active/current link */
.sidebar h2.active {
    background-color:var(--active-bg);
    color:var(--active-color);
}

/* Links on mouse-over */
.sidebar h2:hover:not(.active) {
    background-color: #555;
    color:var(--active-color);
}

div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
.sidebar-toggler{
    display: none;
}
.rightBox{
    background-color: var(--bg-secondary-color);
    z-index: 80;
    position: absolute;
    width: 25%;
    right: 0;
}
.searchResult{
    width: 100%;
}
table tbody{
    padding: 10px;
}
.User-box{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-secondary-color);
    color:var(--active-color);
    border-radius: 5px;
}
.User-box tbody td {
    text-align: left;
}

.toast-box{
    z-index: 1000;
    position: fixed;
    bottom:0;
    right: 0;
    width: 25%;
    box-sizing: border-box;
    background-color: #004f2a;
    color:var(--active-color);
    border-radius: 5px;
    border: solid black;
}
.toast-header{
    color: white;
    background-color: var(--bg-secondary-color);
    width: 100%;
    position: relative;
    top: 0;

}
.toast-body{
    display: block;
}


.overlayElement{
    overflow: auto;
    position: fixed;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    width: 100%;
    height: 100%;
    top:0;
}
.fullHeightList{
    overflow: auto;
    height: 100%;
}
.overlayElement *{
    opacity: 100%;
}
footer{
    background-color:black;
    bottom:0;
    text-align: center;
    width: 100%;
    border-top: white solid;

}
footer div{
    width: 100%;
}
footer div table{
    width: 100%;
}
@media screen and (max-width: 700px) {
    .toast-box{
        width: 100%;
    }
    .inner-window{
        width: 85%;
    }
    .searchResult * {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .searchResult thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .searchResult tr{
        margin: 10px;
        border-radius: 5px;
        border-style:solid ;
        border-color: #2D83A6;
        border-width: 5px;
    }
    .searchResult tr td {
        /* Behave  like a "row" */

        border: none;
        border-bottom: 1px solid  #2D83A6;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .socket:before { content: "Socket" ; }
    .productName:before { content: "Product Name"; }
    .databaseId:before { content: "Database Id"; }
    .cpuSocket:before { content: "CPU Socket"; }
    .ramSocket:before { content: "RAM Socket"; }
    .ramSlots:before { content: "Ram Slots"; }
    .nvmeSlots:before { content: "NVME Slots"; }
    .sataSlots:before { content: "SATA Slots"; }
    .formFactor:before { content: "Form Factor"; }
    .consumption:before { content: "Consumption"; }
    .price:before { content: "Price"; }
    .inStock:before { content: "In Stock"; }
    .moboName:before { content: "MOBO"; }
    .gpuName:before { content: "GPU"; }
    .cpuName:before { content: "CPU"; }
    .memoriesName:before{ content:"Memories";}
    .isSuggested:before{ content:"Suggested";}
    .memoryType:before{ content:"Memory Type";}
    .amountOfMemories:before{ content:"Number Of Memories";}

    .searchResult tr td:last-child{
        border-style: none;
    }

    .centered-box{

        position: absolute;
    transform: translate(-50%, -43%);
        width: 95%;
    }
    .sidebar-toggler{
        display: block;
    }
    .rightBox{
        width: 100%;
    }
}














